@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Hello, BEAT!</h1>
    <p>This is Shailja's first Web Application</p>
    <p>The time on the server is @DateTime.Now</p>
</div>